{% extends '../base.html' %}

{% load static %}

{% block content %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Hub|Courses</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/actions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/autoFill.dataTables.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/autoFill.dataTables.js' %}"></script>   
</head>


<table id="table_id" class="display" width='50%'>
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>StartDate</th>
            <th>EndDate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.course_id }}</td>
            <td>{{ object.coursename }}</td>
            <td>{{ object.coursestartdate }}</td>
            <td>{{ object.courseenddate }}</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    table = $('#table_id').DataTable({
        "paging": false
    });
})


</script>

{% endblock %}