<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudHub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/actions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/bootstrap.js' %}"></script>
</head>

<body>
<nav>
<div class="topnav">
    <a class="button-30" href="/teacher">Teachers</a>
    <a class="button-30" href="/exam">Exams</a>
    <a class="button-30" href="/courses">Courses</a>
    <a class="button-30" href="/materials">Materials</a>
    <a class="button-30" href="/lecture">Lectures</a>
    <a class="button-30" href="/assignment">Assignments</a>
    <a class="button-30" href="/recordings">Recordings</a>
</div>
</nav>
</body>