{% extends '../base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Hub|Courses</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/actions.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}">
        <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script type="text/javascript" charset="utf8" src="{% static 'js/bootstrap.js' %}"></script>
    </head>

<body>

    <div class="action_buttons">
    <form action="create/">
        <button class="button-30" role="button">Create</button>
    </form>

    <form action="delete/">
        <button class="button-30" role="button" onclick="return confirm('Are you sure you want to delete this?')">Delete All</button>
    </form>
</div>
    <br/>
    <table id="table_id" class="display"> 
            <thead>
            <tr>
                <th>Teach Name</th>     
                <th>Teach email </th>
                <th>Teach phone</th>
                <th>Redact</th>
             </tr>
            </thead>
           <tbody>
               <tr>
               {% for t in teacher_list %}
                   {% if  t.title != "None" %}
                   <TD align="left">{{ t.teacherfullname }}</TD>
                   <TD align="left">{{ t.teachermail }}</TD>
                   <TD align="left">{{ t.teachertel }}</TD>
                   <TD>
                        <div class="redact_buttons">
                            <form action="{{ t.teacher_id  }}">
                                <button class="button-30" role="button"><img src="{% static 'info-circle-solid.svg' %}"/></button>
                            </form>
                            <form action="{{ t.teacher_id }}/update">
                                <button class="button-30" role="button"><img src="{% static 'edit-solid.svg' %}"/></button>
                            </form>
                            <form action="{{ t.teacher_id }}/delete">
                                <button class="button-30" role="button" onclick="return confirm('Are you sure you want to delete this?')"><img src="{% static 'trash-alt-solid.svg' %}"/></i></button>
                            </form>
                        </div>
                    </TD>
                   {% endif %}
               </tr>
              {% endfor %}
           </tbody>
     </table>

    <script type="text/javascript">
    
        $(document).ready(function() {
        table = $('#table_id').DataTable();

    });
    </script>
</body>

</html>
{% endblock %}