{% extends '../base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Hub|Exams</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/actions.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}">
        <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script type="text/javascript" charset="utf8" src="{% static 'js/bootstrap.js' %}"></script>
    </head>

    <body>
        <div class="action_buttons">
        <form action="create/">
            <button class="button-30" role="button">Create</button>
        </form>
        
        <form action="delete/">
            <button class="button-30" role="button" onclick="return confirm('Are you sure you want to delete this?')">Delete All</button>
        </form>
        </div>
        <table id="table_id" class="display"> 
            <thead>
                <tr>
                    <th>Lecture Name</th>  
                    <th>Lecture Format</th>
                    <th>Course Name</th>
                    <th>Lecture Info</th>
                    <th>Lecture Date</th>
                    <th>Redact</th>
                </tr>
                </thead>
            <tbody>
                <tr>
                {% for t in lectures_list %}
                    {% if  t.title != "None" %}
                    <TD align="center">{{ t.lecturesname }}</TD>
                    <TD align="center">{{ t.lectureformat }}</TD>
                    <TD align="center">{{ t.lecturedate }}</TD>
                    <TD align="center"><a href={{ t.lectureinfo }}>link</a></TD>
                    <TD align="center">{{ t.course.coursename }}</TD>
                    <TD>
                        <div class="redact_buttons">
                            <form action="{{ t.lecture_id  }}">
                                <button class="button-30" role="button"><img src="{% static 'info-circle-solid.svg' %}"/></button>
                            </form>
                            <form action="{{ t.lecture_id }}/update">
                                <button class="button-30" role="button"><img src="{% static 'edit-solid.svg' %}"/></button>
                            </form>
                            <form action="{{ t.lecture_id }}/delete">
                                <button class="button-30" role="button"><img src="{% static 'trash-alt-solid.svg' %}"/></i></button>
                            </form>
                        </div>
                    </TD>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript">
        $(document).ready(function() {
            $('#table_id').DataTable();
        });
        </script>
        
    </body>

</html>
{% endblock %}