{% extends '../base.html' %}

{% load static %}

{% block content %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudHub|Lectures|Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/actions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/autoFill.dataTables.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/autoFill.dataTables.js' %}"></script>   
</head>


<table id="table_id" class="display" width='50%'>
    <thead>
        <tr>
            <th>Lecture ID</th>
            <th>Lecture Name</th>
            <th>Lecture Format</th>
            <th>Lecture Date</th>
            <th>Lecture Start Time</th>
            <th>Lecture End Time</th>
            <th>Course</th>
            <th>Recording</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.lecture_id }}</td>
            <td>{{ object.lecturesname }}</td>
            <td>{{ object.lectureformat }}</td>
            <td>{{ object.lecturedate }}</td>
            <td>{{ object.lecturetimestart }}</td>
            <td>{{ object.lecturetimeend }}</td>
            <td><a href="/courses/{{ object.course.course_id }}">{{ object.course.coursename }}</a></td>
            <td><a href="/recordings/{{ object.recording.recording_id }}">{{ object.recording.recordinginfo }}</a></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    table = $('#table_id').DataTable({
        autoFill: {
            columns: ':not(:first-child)'
        }
    });
})


</script>

{% endblock %}